---
layout: base
style: {
    inline-layout: "
        .device-layout {
            --container-size: 84ch;
        }

        time {
            color: var(--color-text-muted);
        }
    "
}
---

<article class="device-layout container page-spacing">
    {%- if featured -%}
        <div class="page-banner aspect-ratio mb-6">
            {% image featured, title %}
        </div>
    {%- endif -%}

    {% include "breadcrumbs.njk" %}

    <div class="mb-8 md-mb-10">
        {% if title %}
            <h1 class="my-0">{{ title }}</h1>
        {% endif %}
        <time datetime="{{ page.date | toISOString }}">
            {{ page.date | formatDate('DD MMMM YYYY') }}
        </time>
    </div>

    {{ content | safe }}
</article>
