@use "@fylgja/shadow" as *;
@use "@fylgja/sizes" as *;
@use "@fylgja/fonts" as *;

.page-spacing {
    margin-block-start: $font-size-fluid-4;
    margin-block-end: $font-size-fluid-4;
}

.page-banner {
    --aspect-ratio: 21/9;
    border-radius: $size-8;
}
