---
layout: "page"
title: "Official Devices"
description: "Devices officially supported by Kenvyra"
permalink: "/devices/"
eleventyNavigation:
    key: "Devices"
    order: 5
---

{% for manufacturer, devices in collections.devices | groupby("data.manufacturer") %}
    <h2>{{ manufacturer }}</h2>

    <div class="auto-grid">
        {%- for device in devices -%}
            <a href="{{ device.url }}" class="card">
                <div class="card-media">
                    {% image device.data.picture, device.data.name %}
                </div>
                <div class="card-content">
                    <h3 class="h6 inline-block mb-0">{{ device.data.name }}</h3>&nbsp;<sup><i>{{ device.data.codename }}</i></sup>
                </div>
            </a>
        {%- endfor -%}
    </div>
{% endfor %}
