---
layout: base
permalink: index.html
eleventyNavigation:
    key: "Home"
style: {
    inline: "
        #page-hero {
            --height: 320px;
            padding-block-start: clamp(3rem, 6vw, 6rem);
            padding-block-end: clamp(3rem, 6vw, 6rem);
            font-size: clamp(1rem, 1.5vw, 1.25rem);
        }

        #page-hero .title {
            --h-font-size: clamp(2.5rem, 5vw, 5rem);
            --h-font-weight: 600;
        }

        #page-hero .preview {
            border-radius: 2rem;
            overflow: hidden;
        }

        #page-hero .preview img {
            max-height: 60vh;
            width: auto;
        }
    "
}
---

<section id="page-hero" class="mb-12" style="--bg: var(--color-theme-fade)">
    <div class="container flex flex-col md-flex-row justify-center md-justify-between items-center">
        <div>
            <h1 class="title">{{ meta.siteName }} is here.</h1>
            <div class="slogan">{{ meta.siteDescription }}</div>
        </div>
        <div class="preview mt-8 md-mt-0 md-ms-4 xl-ms-8">
            {% image "./src/assets/images/lockscreen.png", "Lockscreen screenshot", { widths: [1654], lazy: false } %}
        </div>
    </div>
</section>

<div class="container my-12">
{% renderTemplate "md" %}
# Welcome to Kenvyra!

Kenvyra is a custom operating system for Android devices based on [LineageOS](https://lineageos.org/) with tons of added [features](/features).

## Why Kenvyra?

Kenvyra does not compromise on performance and instead utilizes modern compilers to their fullest extent, allowing the builds to be more optimized at the cost of longer build times. We backport changes from upcoming Android releases and optimize core components of Android by hand to ensure you get the most out of your device.

We believe that users should have the maximum freedom in regards to what runs on their device - that's why we ship builds in **three flavors**: **Vanilla**, **microG** and **GApps**. We do our best to ensure that your device will not "phone home" to Google out of the box and protect your privacy, but users who rely on Google applications will be satisfied by our builds with Pixel GApps without any compromises on functionality.

The ROM includes advanced customization options beyond what LineageOS offers, because we believe that customization and performance or privacy do not conflict unless it is done excessively. We include the customization options that we deem efficient and impacting enough to deserve inclusion. Something's missing? Reach out, and we will consider adding it.

## How do I get Kenvyra?

Official Kenvyra builds can be found on the [devices](/devices) page. If there are no official builds for your device, try looking for unofficial ones on social channels like [XDA](https://forum.xda-developers.com/) or [Telegram](https://telegram.org/). Or get started with [building it yourself](https://github.com/Kenvyra/android_manifest)!
{% endrenderTemplate %}
</div>
